.header {
    position: relative;
    border-bottom: 1px solid #ddd;
}




.header .header_wrap {
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;

    height: 103px;

}



.header h1 a {
    display: block;
    width: 250px;
    height: 80px;
    background: url(../images/logo_on.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}


.header .gnb {
    margin-left: auto;


}

.header .gnb::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 103px;
    left: 0;
    right: 0;

    display: none;
    height: 260px;
    background: #fff;
    border-top: 1px solid #ddd;

}

.header .gnb:hover::before {
    display: block;
}


.header .gnb>ul {
    display: flex;
    gap: 80px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 103px;
    left: 50%;
    z-index: 3;

    display: none;



    transform: translate(-50%, 16px);




}

.header .gnb:hover>ul>li ul {
    display: block;
}

.header .gnb>ul>li>a {
    display: block;
    line-height: 103px;
    font-size: 17px;
    font-weight: 400;

    white-space: nowrap;
}



.header .gnb>ul>li ul li a {
    display: block;
    line-height: 40px;

    white-space: nowrap;
    text-align: center;

}



.header .mbtn {
    display: none;
}


@media (max-width:1202px) {

    .header {
        position: relative;
        border-bottom: 1px solid #ddd;
    }




    .header .header_wrap {
        display: flex;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;

        height: 103px;

        /* r */

        margin: 0 16px;

    }



    .header h1 a {
        display: block;
        width: 250px;
        height: 80px;
        background: url(../images/logo_on.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;


    }


    .header .gnb {
        margin-left: auto;


    }

    .header .gnb::before {
        content: "";
        position: absolute;
        z-index: 3;
        top: 103px;
        left: 0;
        right: 0;

        display: none;
        height: 260px;
        background: #fff;
        border-top: 1px solid #ddd;

    }

    .header .gnb:hover::before {
        display: block;
    }


    .header .gnb>ul {
        display: flex;
        gap: 80px;
    }

    .header .gnb>ul>li {
        position: relative;
    }

    .header .gnb>ul>li ul {
        position: absolute;
        top: 103px;
        left: 50%;
        z-index: 3;

        display: none;



        transform: translate(-50%, 16px);




    }

    .header .gnb:hover>ul>li ul {
        display: block;
    }

    .header .gnb>ul>li>a {
        display: block;
        line-height: 103px;
        font-size: 17px;
        font-weight: 400;

        white-space: nowrap;
    }



    .header .gnb>ul>li ul li a {
        display: block;
        line-height: 40px;

        white-space: nowrap;
        text-align: center;

    }



    .header .mbtn {
        display: none;
    }

}


@media (max-width:768px) {

    .header {
        position: relative;
        border-bottom: 1px solid #ddd;
    }




    .header .header_wrap {
        display: flex;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;

        height: 103px;

        /* r */
        margin: 0 16px;

    }



    .header h1 a {
        display: block;
        width: 250px;
        height: 80px;
        background: url(../images/logo_on.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;


    }


    .header .gnb {
        margin-left: auto;

        /* r */
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: 999;

        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.75);


    }

    .header .gnb.on {
        left: 0;
    }

    .header .gnb::before {
        content: "";
        position: absolute;
        z-index: 3;
        top: 103px;
        left: 0;
        right: 0;

        display: none;
        height: 260px;
        background: #fff;
        border-top: 1px solid #ddd;

    }

    .header .gnb:hover::before {
        display: block;

        /* r */
        display: none;
    }


    .header .gnb>ul {
        display: flex;
        gap: 80px;

        /* r */
        position: absolute;
        top: 0;
        left: 0;

        flex-direction: column;
        gap: 0;

        height: 100%;
        width: calc(100% - 80px);
        padding: 120px 24px 0 24px;
        background: #fff;
    }

    .header .gnb>ul>li {
        position: relative;
    }

    .header .gnb>ul>li ul {
        position: absolute;
        top: 103px;
        left: 50%;
        z-index: 3;

        display: none;



        transform: translate(-50%, 16px);

        /* r */
        position: static;

        transform: translate(0, 0);
        background-color: #f8f8f8;



    }

    .header .gnb:hover>ul>li ul {
        display: block;
        display: none;
    }

    .header .gnb>ul>li>a {
        display: block;
        line-height: 103px;
        font-size: 17px;
        font-weight: 400;

        white-space: nowrap;

        /* r */
        position: relative;
        line-height: 40px;
        border-bottom: 1px solid #ddd;
        padding: 0 0 0 16px;
        font-size: 18px;
        font-weight: 600;
    }

    .header .gnb>ul>li>a::before {
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        left: 0;

        width: 4px;
        height: 4px;

        background: #333;
        border-radius: 50%;
    }



    .header .gnb>ul>li ul li a {
        display: block;
        line-height: 40px;

        white-space: nowrap;
        text-align: center;

        /* r */
        padding: 0 0 0 16px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }





    .header .mbtn {
        display: block;
        position: fixed;
        right: 16px;
        top: 32px;
        z-index: 999;

        width: 32px;
        height: 32px;
        background: #fff;
        border: 1px solid #ddd;

    }

    .header .mbtn::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #333;
    }

    .header .mbtn.on::before {
        display: none;
    }


    .header .mbtn::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #333;
    }

    .header .mbtn.on::after {
        display: none;
    }

    .header .mbtn span::before {
        content: "";
        position: absolute;
        top: 14px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #333;
    }

    .header .mbtn.on span::before {
        transform: rotate(45deg);
        transition: 0.4s;
    }

    .header .mbtn span::after {
        content: "";
        position: absolute;
        top: 14px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #333;
    }

    .header .mbtn.on span::after {
        transform: rotate(-45deg);
        transition: 0.4s;
    }



}







.main_visual {
    position: relative;
}

.main_visual::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.3) 100%);
}


.main_visual .main_visual_slide .itm {
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual01.jpg)
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02.jpg)
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual03.jpg)
}


/* .main_visual .main_visual_slide .itm02::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.main_visual .main_visual_slide .itm03::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
} */

.main_visual .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    max-width: 1170px;
    width: 100%;
}


.main_visual .slg em {
    font-size: 32px;
    color: #fff;
    margin-bottom: 16px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

.main_visual .slg span {
    font-weight: 700;

}


.main_visual .slg p {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

.main_visual .slg strong {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 16px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.main_visual .scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-40px, 0);
    width: 80px;
    height: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main_visual .scroll::after {
    content: "";
    display: block;
    width: 1px;
    height: 88px;
    background: #fff;
    opacity: 0.5;
}

.main_visual .scroll::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;

    transform: translate(-50%, 32px);
    animation: wheel 2s infinite;

}

@keyframes wheel {
    0% {
        opacity: 1;
        transform: translate(-50%, 32px);
    }

    75% {
        opacity: 1;
        transform: translate(-50%, 116px);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 116px) scale(8);
    }
}

.main_visual .scroll span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
}


@media (max-width:1202px) {

    .main_visual {
        position: relative;
    }

    .main_visual::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.3) 100%);
    }


    .main_visual .main_visual_slide .itm {
        height: 100vh;
        background-position: center center;
        background-size: cover;
    }

    .main_visual .main_visual_slide .itm01 {
        background: url(../images/main_visual01.jpg)
    }

    .main_visual .main_visual_slide .itm02 {
        background: url(../images/main_visual02.jpg)
    }

    .main_visual .main_visual_slide .itm03 {
        background: url(../images/main_visual03.jpg)
    }


    /* .main_visual .main_visual_slide .itm02::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                    z-index: -1;
                }
                
                .main_visual .main_visual_slide .itm03::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                    z-index: -1;
                } */

    .main_visual .slg {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        max-width: 1170px;
        width: 100%;

        margin: 0 16px;
    }


    .main_visual .slg em {
        font-size: 32px;
        color: #fff;
        margin-bottom: 16px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    }

    .main_visual .slg span {
        font-weight: 700;

    }


    .main_visual .slg p {
        font-size: 48px;
        color: #fff;
        font-weight: 700;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    }

    .main_visual .slg strong {
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        margin-top: 16px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }

    .main_visual .scroll {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 2;
        transform: translate(-40px, 0);
        width: 80px;
        height: 120px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .main_visual .scroll::after {
        content: "";
        display: block;
        width: 1px;
        height: 88px;
        background: #fff;
        opacity: 0.5;
    }

    .main_visual .scroll::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;

        transform: translate(-50%, 32px);
        animation: wheel 2s infinite;

    }

    @keyframes wheel {
        0% {
            opacity: 1;
            transform: translate(-50%, 32px);
        }

        75% {
            opacity: 1;
            transform: translate(-50%, 116px);
        }

        100% {
            opacity: 0;
            transform: translate(-50%, 116px) scale(8);
        }
    }

    .main_visual .scroll span {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 4px;
    }

}




@media (max-width:768px) {
    .main_visual {
        position: relative;
    }

    .main_visual::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.3) 100%);
    }


    .main_visual .main_visual_slide .itm {
        height: 100vh;
        background-position: center center;
        background-size: cover;



    }

    .main_visual .main_visual_slide .itm01 {
        background: url(../images/main_visual01.jpg)
    }

    .main_visual .main_visual_slide .itm02 {
        background: url(../images/main_visual02.jpg)
    }

    .main_visual .main_visual_slide .itm03 {
        background: url(../images/main_visual03.jpg)
    }


    /* .main_visual .main_visual_slide .itm02::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.main_visual .main_visual_slide .itm03::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
} */

    .main_visual .slg {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        max-width: 1170px;
        width: 100%;
        padding: 0 0 0 16px;



    }


    .main_visual .slg em {
        font-size: 32px;
        color: #fff;
        margin-bottom: 16px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);

        display: block;
        margin-bottom: 16px;

    }

    .main_visual .slg span {
        font-weight: 700;

    }


    .main_visual .slg p {
        font-size: 48px;
        color: #fff;
        font-weight: 700;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);

        display: block;
        margin-bottom: 16px;
        line-height: 56px;

    }

    .main_visual .slg strong {
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        margin-top: 16px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);

        line-height: 24px;

    }

    .main_visual .scroll {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 2;
        transform: translate(-40px, 0);
        width: 80px;
        height: 120px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .main_visual .scroll::after {
        content: "";
        display: block;
        width: 1px;
        height: 88px;
        background: #fff;
        opacity: 0.5;
    }

    .main_visual .scroll::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;

        transform: translate(-50%, 32px);
        animation: wheel 2s infinite;

    }

    @keyframes wheel {
        0% {
            opacity: 1;
            transform: translate(-50%, 32px);
        }

        75% {
            opacity: 1;
            transform: translate(-50%, 116px);
        }

        100% {
            opacity: 0;
            transform: translate(-50%, 116px) scale(8);
        }
    }

    .main_visual .scroll span {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 4px;
    }
}


.main_content {
    position: relative;

}

.main_content .inner .img_box {
    border: 1px solid #999;
}



.main_content::before {
    content: "";
    position: absolute;
    top: 72px;
    right: 104px;

    width: 168px;
    height: 168px;
    border-radius: 50%;

    background: url(../images/pattern.jpg);

    transform: rotate(45deg);
    opacity: 0.05;

}

.main_content::after {
    content: "";
    position: absolute;
    top: 435px;
    left: 0;

    width: 240px;
    height: 240px;


    background: url(../images/pattern01.jpg);

    opacity: 0.05;

}




.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner>* {
    flex: 1;
}


.main_content img {
    width: 100%;
}

.main_content .inner strong {
    display: block;
    margin-top: 8px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;


}

@media (max-width:768px) {

    .main_content {
        position: relative;

    }

    .main_content .inner .img_box {
        border: 1px solid #999;
    }



    .main_content::before {
        content: "";
        position: absolute;
        top: 72px;
        right: 104px;

        width: 168px;
        height: 168px;
        border-radius: 50%;

        background: url(../images/pattern.jpg);

        transform: rotate(45deg);
        opacity: 0.05;

        /* r */
        display: none;

    }

    .main_content::after {
        content: "";
        position: absolute;
        top: 435px;
        left: 0;

        width: 240px;
        height: 240px;


        background: url(../images/pattern01.jpg);

        opacity: 0.05;

        /* r */
        display: none;

    }




    .main_content .inner {
        display: flex;
        gap: 30px;

        /* r */

        flex-direction: column;
        margin: 0 16px;


    }

    .main_content .inner>* {
        flex: 1;
    }


    .main_content img {
        width: 100%;
    }

    .main_content .inner strong {
        display: block;
        margin-top: 8px;
        line-height: 24px;
        font-size: 16px;
        font-weight: 400;


    }

}



.footer {
    padding: 40px 0;
    background: #333;
}

.footer .customer {

    display: flex;
    gap: 40px;
    margin-bottom: 8px;
}

.footer .customer a {
    position: relative;
    color: #fff;
}

.footer .customer a.b {
    font-weight: 700;
}

.footer .customer li~li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 1px;
    height: 0.5em;
    background: #999;
    transform: translate(0, -50%);
}

.footer .info {
    display: flex;
    gap: 40px;
    margin-bottom: 16px;
}


.footer .info li {
    position: relative;
    color: #fff;
}


.footer .info li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 1px;
    height: 0.5em;
    background: #999;
    transform: translate(0, -50%);
}

.footer address {
    color: #fff;
    font-size: 14px;
    font-weight: 16px;
    opacity: 0.5;
}


@media (max-width:768px) {

    .footer {
        padding: 40px 16px;
        background: #333;
    }

    .footer .customer {

        display: flex;
        gap: 40px;
        margin-bottom: 8px;

        flex-direction: column;
        gap: 0;

    }

    .footer .customer a {
        position: relative;
        color: #fff;

        font-size: 2.4vw;


        white-space: nowrap;
        line-height: 16px;
    }


    .footer .customer a.b {
        font-weight: 700;
    }

    .footer .customer li~li a::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        width: 1px;
        height: 0.5em;
        background: #999;
        transform: translate(0, -50%);

        display: none;
    }

    .footer .info {
        display: flex;
        gap: 40px;
        margin-bottom: 16px;

        font-size: 2.4vw;
        flex-direction: column;
        gap: 0;

        line-height: 16px;
    }


    .footer .info li {
        position: relative;
        color: #fff;
    }


    .footer .info li~li::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        width: 1px;
        height: 0.5em;
        background: #999;
        transform: translate(0, -50%);

        display: none;
    }

    .footer address {
        color: #fff;
        font-size: 14px;
        font-weight: 16px;
        opacity: 0.5;

        font-size: 2.4vw;
    }



}